<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<!-- Balises meta -->
		<meta name="description" content="l'an coch\' est une auberge-restaurant située dans le Puy-de-Dôme à Saint Anthème (63). Spécialités Auvergnates dans un cadre chaleureux et montagnard.">

		<!-- Balises OpenGraph -->
		<meta property="og:locale" content="fr_FR"/>
		<meta property="og:title" content="Découvrez l'an coch\' auberge restaurant à Saint-Anthème (63)"/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.lancoch.fr" />
		<meta property="og:image" content="img/produit2.png" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="300" />
		<meta property="og:image:height" content="300" />
		<meta property="og:description" content="l'an coch\' est une auberge-restaurant située dans le Puy-de-Dôme à Saint Anthème (63). Spécialités Auvergnates dans un cadre chaleureux et montagnard."/>
		<title>l'an coch' auberge restaurant - situé à Saint Anthème (63)</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css"  href="view/css/bootstrap.css">
		<link rel="stylesheet" href="view/font/font-awesome/css/font-awesome.min.css">

		<!-- Stylesheet, font-awesome et chargement des API -->
		<link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Rubik" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="view/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="view/css/style.css">
	</head>
	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
		<header>
			<nav id="menu" class="navbar navbar-default navbar-fixed-top">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
						<a class="navbar-brand page-scroll" href="#page-top"><img src="view/img/Logo_lancoch_rose.png" alt="logo rose l'an coch'"></a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#auberge" class="page-scroll">L'auberge</a></li>
							<li><a href="#meal" class="page-scroll">Le menu</a></li>
							<!-- <li><a href="#boutique" class="page-scroll">La boutique</a></li> -->
							<li><a href="#station" class="page-scroll">La station</a></li>
							<li><a href="#contact" class="page-scroll">Contact</a></li>
							<li><a href="#" class="page-scroll"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</nav>
			<div>
				<img src="view/img/logo.png" alt="Logo cochon l'an coch'">
				<h1 class="container">Auberge restaurant dans le Puy-de-Dôme</h1>
				<a href="#reservation" class="button">Réserver une table</a>
			</div>
		</header>
		<main>
			<section id="auberge" class="container">
				<h2>L'auberge</h2>
				<hr>
				<p>L’an coch’ est une <strong>auberge restaurant située en Auvergne</strong>, dans la commune de Saint-Anthème, à quelques mètres du Parc d’activité de Prabouré.</p>
				<p>Conçue autour des <strong>spécialités Auvergnates</strong>, l’auberge est un moyen de découvrir l’Auvergne dans un cadre authentique, à travers des <strong>produits du terroir faits maison</strong>, élaborés dans notre atelier.</p>
				<img src="view/img/restaurant" alt="Présentation restaurant intérieur">
				<div id="icone_tasse">
					<p>Ouvert toute la journée, il est possible de venir manger le midi entre deux pistes de ski ou de se réchauffer autour d’un bon chocolat chaud pour le goûter.</p>
					<p>L’auberge est aussi ouverte sur réservation pour des dîners au feu de bois ou pour des retrouvailles lors d'un <strong>banquet en famille ou entre amis</strong>. Venez profiter d'un cadre chaleureux et montagnard que la station de Prabouré vous offre à quelques kilomètres de Montbrison, Saint-Etienne ou encore Lyon.</p>
				</div>
			</section>
			<section id="meal">
				<div class="container" id="content_meal">
					<hr class="line_left">
					<h2>Le Menu</h2>
					<hr class="line_right">
					<div id="column">
						<p><strong>Plats proposés selon la saison</strong></p>
						<ul>
							<li>
								<p><strong>Les formules à partir de 15€ midi et soir</strong></p><br>
								<p>15€ : plat, fromage ou dessert</p>
								<p>21€ : entrée, plat, fromage ou dessert</p>
								<p>26€ : entrée, plat, fromage et dessert</p>
							</li>	
							<li>
								<p>Palette de charcuterie, Emincé de porc cébettes et tomates épicées, Rapée auvergnate, Saucisse briochée, Cervelle de canut...</p>
								<p>Buffet de fromages d'Auvergne et des environs</p>
								<p>Buffet sucré de verrines</p>
							</li>
						</ul>
					</div>
				<a href="#contact" class="button">Réservez votre table</a>
				</div>
			</section>
			<section id="boutique" class="container">
				<h3>Découvrez nos produits auvergnats faits maison</h3>
				<ul>
					<li>
					<figure>
						<img src="view/img/produit1.png" alt="terrine de porc aux légumes">
						<figcaption  id="legend">Terrine de porc aux olives</figcaption>
					</figure>
					</li>
					<li>
					<figure>
					<img src="view/img/produit.png" alt="saucisson nature fait maison">
					<figcaption  id="legend">Saucisson nature</figcaption>
					</figure>
					</li>
					<li>
					<figure>
					<img src="view/img/produit2.png" alt="poitrine de porc roulée salé">
					<figcaption  id="legend">Poitrine de porc roulée</figcaption>
					</figure>
					</li>
					<li>
					<figure>
					<img src="view/img/produit3.png" alt="saucisse de porc aux herbes">
					<figcaption  id="legend">Saucisse aux herbes</figcaption>
					</figure>
					</li>
				</ul>
				<p>Dans son atelier, le chef prépare des <strong>produits typiquement auvergnats</strong> pour régaler tous les gourmands de charcuteries et faire connaître les saveurs de la région : poitrine de porc roulée, saucissons, terrines...</p>
				<p>Venez déguster ces produits au restaurant, dans les plats proposés dans le menu. Il est aussi possible d’acheter directement dans la boutique du restaurant les produits réalisés par le chef ainsi que des <strong>produits locaux</strong> comme des confitures, des fromages ou encore des terrines.</p>
			</section>
			<section id="reservation" class="container">
				<h2>Reservez votre table !</h2>
				<hr>
				<form>
					<ul>
						<li><input type="text" name="nom" placeholder="Nom" required></li>
						<li><input type="email" name="email" placeholder="Email" required></li>
						<li><input type="text" name="telephone" placeholder="Numéro de Téléphone" title="Il nous sera utile en cas de problème ou de retard" maxlength="10" required></li>
					</ul><!-- hack inline-block
					 --><ul>
						<li>
							<select>
								<option>Nombre de pers.</option>
								<?php for ($i = 1; $i < 9; $i++){?>
								<option><?=$i;?> pers.</option>
								<?php } ?>
								<option>9 pers. et +</option>
							</select>
						</li>
						<li>
							<select>
								<option>Date</option>
							</select>
						</li>
						<li>
							<select>
								<option>Heure</option>
								<option>12:00</option>
								<option>12:30</option>
								<option>13:00</option>
								<option>13:30</option>
							</select>
						</li>
					</ul>
					<input type="submit" name="reserver" value="Réserver" class="button">
				</form>
			</section>
			<section>
				<div id="station">
					<div class="container" id="content_station">
						<hr class="line_left">
						<h2>La station</h2>
						<hr class="line_right">
						<p>Le <strong>Parc d’Activités de Prabouré</strong>, se situe à 500 mètres de l’auberge. Il propose toute l’année, en été comme en hiver, des activités sportives et de loisirs pour toute la famille.</p>
						<a href="https://www.praboure.fr/" target="_blank">Site de Prabouré</a>
						<p>La station de Prabouré donne également un accès au <strong>domaine Nordique des Crêtes-du-Forez</strong> avec plus de 130km de pistes adaptées pour le ski de fond, les raquettes, des espaces de snow kite.</p>
						<a href="http://www.nordic-massif-central.fr/fr/les-sites/les-stations/cretes-du-forez-146.html" target="_blank">Site des Crêtes-du-Forez</a>
						<div></div>
					</div>
				</div>
				<div class="container" id="raquettes">
					<img src="view/img/ski.png" alt="location de ski de fond et raquettes">
					<h3>Ski de fond et raquettes</h3>
					<p><strong>La location du matériel de skis de fond et des raquettes</strong> ainsi que l’achat des entrées du domaine nordique (hors ski alpin) se font dans une annexe de l’auberge.</p>
					<p>Une salle hors sac et des toilettes sont également disponibles derrière l’auberge.</p>
				</div>
			</section>
			<section id="contact">
				<div class="container">
					<h2>Contact et horaire</h2>
					<hr>
				</div>
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d212579.70914972355!2d3.6086212297122566!3d45.568705574614924!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4a6ffda9555adbcf!2zUHJhYm91csOp!5e0!3m2!1sfr!2sfr!4v1480888336314" width="800" height="400" allowfullscreen></iframe>
				<div class="container">
				<div id="adresse">
					<address>
						<p>L'an coch'</p>
						<p>Station de Prabouré</p>
						<p>63660 Saint Anthème</p>
					</address>
					<img src="view/img/phone-contact.png" alt="icone téléphone et email">
					<p><a href="tel:+33-4-73-95-46-02">04.73.95.46.02</a></p>
					<p><a href="mailto:lancoch63@gmail.com">lancoch63@gmail.com</a></p>
				</div><!-- hack
				--><div id="hours">
					<p>Ouvert tous les jours de l'année de 8h à 22h.</p>
					<p>Hors Saison et les jours de la semaine, pensez à réserver votre table au restaurant quelques jours avant.</p>
				</div>
				<div id="facebook">
					<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FLan-coch-1460993453940984%2F&tabs&width=340&height=180&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId" width="340" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
					<p>Suivez l'an coch' sur Facebook et retrouvez l'actualité du restaurant : menus de saison, activités et promotions...</p>
				</div>
			</section>
		</main>
		<footer>
			<nav class="container">
				<ul>
					<li><a href="#auberge">L'auberge</a></li>
					<li><a href="#meal">Le menu</a></li>
					<!-- <li><a href="#boutique">La boutique</a></li> -->
					<li><a href="#reservation">Réserver une table</a></li>
					<li><a href="#station">La station</a></li>
					<li><a href="#contact">Contact</a></li>
					<li><a href="index.php?page=legal">Mentions Légales</a></li>
				</ul>
			</nav>
			<hr class="trait_footer">
			<p>Copyright 2016 - Auberge restaurant L’an coch’ tous droits réservés</p>
		</footer>
		<script type="text/javascript" src="view/js/jquery.1.11.1.js"></script>
		<script type="text/javascript" src="view/js/SmoothScroll.js"></script>
		<script type="text/javascript" src="view/js/bootstrap.js"></script> 
		<script type="text/javascript" src="view/js/main.js"></script>
	</body>
</html>