<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!-- Meta référencement -->
		<meta name="description" content="Mentions légales concernant l'utilisation du site internet L'an coch'">
		<title>L'an coch - Mentions légales</title>
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css"  href="view/css/bootstrap.css">
		<link rel="stylesheet" href="view/font/font-awesome/css/font-awesome.min.css">

		<!-- Stylesheet, font-awesome et chargement des API -->
		<link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Rubik" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="view/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="view/css/style.css">

		<!-- Scripts -->
		<script type="text/javascript" src="view/js/jquery.1.11.1.js"></script>

	</head>
	<body id="mentions" data-spy="scroll" data-target=".navbar-fixed-top">
		<header>
			<nav id="menu" class="navbar navbar-default navbar-fixed-top">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
						<a class="navbar-brand page-scroll" href="/#"><img src="view/img/Logo_lancoch_nav.png" alt="logo rose l'an coch'"></a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/#auberge" class="page-scroll">L'auberge</a></li>
							<li><a href="/#meal" class="page-scroll">Le menu</a></li>
							<li><a href="/#station" class="page-scroll">La station</a></li>
							<li><a href="/#contact" class="page-scroll">Contact</a></li>
							<li><a href="https://www.facebook.com/lancoch/" class="page-scroll" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<main class="container">
			<section>
				<h1>Mentions Légales</h1>
                <h2>1. Présentation de notre site web</h2>

                <p>Conformément à la loi n° 2004-2005 du 21 juin 2004 pour la confiance dans l'économie numérique, notre site web créé par <a href="https://fr.linkedin.com/in/ludivinelacour" title="Ludivine Lacour">Ludivine Lacour</a>, met à disposition du public les informations concernant l'auberge <a href="lancoch.fr" title="L'an Coch">lancoch.fr</a>.</p>
                <p>L'an Coch - SARL, dont le siège social est situé à : Station de Prabouré, Saint Anthème - 63660. Déclaré au RNCP de XXXXXXXXXXXX</p>
                <p>L'auberge est responsable de la publication et administrateur du site. Il est possible de contacter une personne en charge du site à l'addresse suivante : <a href="mailto:contact@lancoch.fr">contact@lancoch.fr</a></p>
                <p>Hébergement : OVH, dont le siège social est localisé à l'adresse suivante : 2 rue Kellermann - 59100 Roubaix - France.</p>
          	    <h2>2. Conditions générales d’utilisation du site et des services proposés.</h2>
                <p>En utilisant notre site web <a href="lancoch.fr" title="L'an Coch">lancoch.fr</a>, vous acceptez pleinement et entièrement les conditions générales d'utilisation précisées dans nos mentions légales. Accessible à tout type de visiteurs, il est important de préciser toutefois qu'une interruption pour maintenance du site web peut-être décidée par L'an Coch. Les dates et heures d'interruptions seront néanmoins précisées à l'avance aux utilisateurs.</p>

                <h2>3. Les produits ou services proposés par <a href="lancoch.fr" title="L'an Coch">lancoch.fr</a></h2>

                <p>En accord avec sa politique de communication, le site <a href="lancoch.fr" title="L'an Coch">lancoch.fr</a> a pour vocation d'informer les utilisateurs sur les services proposés par L'an Coch, qui s'efforce alors de fournir des informations précises sur son activité. Cependant, des inexactitudes ou des omissions peuvent exister : la société ne pourra en aucun cas être tenue pour responsable pour toute erreur présente sur le site <a href="lancoch.fr" title="L'an Coch">lancoch.fr</a>.</p>

                <h2>4.  Limitations contractuelles</h2>

                <p>Les informations retranscrites sur notre site web <a href="lancoch.fr" title="L'an Coch">lancoch.fr</a> font l’objet de démarches qualitatives, en vue de nous assurer de leur fiabilité. Cependant, nous ne pourrons encourir de responsabilités en cas d’inexactitudes techniques lors de nos explications.</p>

                <p>Les liens reliés à notre site web <a href="lancoch.fr" title="L'an Coch">lancoch.fr</a> ne sont pas sous le contrôle de notre société. Par conséquent, nous ne pouvons nous assurer de l’exactitude des informations présentes sur ces autres sites Internet.</p>

                <p>Notre site ne pourra être tenu pour responsable en cas de dommages matériels liés à son utilisation. Par ailleurs, toute autre type de conséquence liée à l'exploitation du site <a href="lancoch.fr" title="L'an Coch">lancoch.fr</a>, qu'elle soit direct ou indirect (bug, incompatibilité, virus, perte de marché, etc.).</p>

                <h2>5. Propriété intellectuelle</h2>

                <p>Le contenu rédactionnel du site web <a href="lancoch.fr" title="L'an Coch">lancoch.fr</a> appartient exclusivement à L'an Coch. Toute violation des droits d’auteur est sanctionnée par l’article L.335-2 du Code de la Propriété Intellectuelle, avec une peine encourue de 2 ans d’emprisonnement et de 150 000€ d’amende</p>
                <p>En naviguant sur le site <a href="lancoch.fr" title="L'an Coch">lancoch.fr</a>, l'utilisateur accepte également l'installation de cookies éventuelle sur son ordinateur.</p>

                <h2>6. Données personnelles, respect de votre vie privée et de vos libertés</h2>

                <p>Toute informations recueillie sur le site web <a href="lancoch.fr" title="L'an Coch">lancoch.fr</a> se font dans le cadre des besoins liés à l'utilisation de notre plateforme, tels que le formulaire réservation de table.</p>
                <p>L'an Coch s'engage à ne céder en aucun cas les informations concernant les utilisateurs du site Internet, de quelque façon qu'il soit (vente, échange, prêt, location, don).</p>
                <p>Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, l’utilisateur bénéficie d’un droit d’accès et de rectification aux informations le concernant, droit qu’il peut exercer à tout moment en adressant un mail à l’adresse <a href="mailto:contact@lancoch.fr">contact@lancoch.fr</a>, ou en effectuant sa demande par courrier, à l’adresse suivante : Station de Prabouré 63660 Saint Anthème.</p>

	            <h2>7. Droit applicable et lois concernées</h2>

                <p>Soumis au droit français, le site web <a href="lancoch.fr" title="L'an Coch">lancoch.fr</a> est encadré par la loi n° 2004-2005 du 21 juin 2004 pour la confiance dans l'économie numérique, l’article L.335-2 du Code de la Propriété Intellectuelle et la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004.</p>
	    	</section>
		</main>
		<footer>
			<nav class="container">
				<ul>
					<li><a href="/#auberge">L'auberge</a></li>
					<li><a href="/#menu">Le menu</a></li>
					<li><a href="/#reservation">Réserver une table</a></li>
					<li><a href="/#station">La station</a></li>
					<li><a href="/#contact">Contact</a></li>
				</ul>
			</nav>
			<hr class="trait_footer">
			<p>Copyright 2017 - Auberge restaurant L’an Coch’</p>
		</footer>
		<script type="text/javascript" src="view/js/bootstrap.js"></script> 
		<script type="text/javascript" src="view/js/main.js"></script>
	</body>
</html>